:root {
  font-size: 18px; }

@media (min-width: 320px) and (max-width: 960px) {
  :root {
    font-size: calc( 18px + (22 - 18) * ( (100vw - 320px) / ( 960 - 320))); } }

@media (min-width: 960px) {
  :root {
    font-size: 22px; } }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

em {
  font-style: italic; }

a,
button {
  color: inherit;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }

a {
  text-decoration: none; }

input {
  background: none;
  border: 0;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal; }

button,
select {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

body {
  font-family: "Georgia", serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%; }
