// =======
// Generic
// =======
// Resets
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4 {
  font-size: inherit;
}

em {
  font-style: italic;
}

a,
button {
  color: inherit;
  cursor: pointer;
  transition: background 0.3s;
}

a {
  text-decoration: none;
}

input {
  background: none;
  border: 0;
  display: inline-block;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
}

button,
select {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;
}

select {
  appearance: none;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

// Ground-zero styles
html {
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: $base-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
